/* 初始化默认设置 */
body{background-color:#f3f3f3;color:#333;max-width:800px;margin:0 auto;}
input,textarea{
	color:inherit;
	border:none;
}
li{
	list-style:none;
}
img{
	vertical-align:top;
	max-width:100%;
}
.lazyload-box{
	overflow: hidden;
	height:0;
	background:#f8f8f8;
	img{
		width:100%;
	}
}
.flex-lr{
	display:flex;
	justify-content:space-between;
}
.flex-center{
	display:flex;
	align-items:center;
}
.fn-ell-two-col{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* color */
@col-bor:#f3f3f3;
@col-main:#13b5b0;
@col-black:#000;
@col-gray:#999;
@col-red:#ff3c37;
@col-hover:#229895;

/* layout */
.lt-layer{
	position: fixed;
	display:none;
    top:50%;
    width:100%;
    text-align:center;
	z-index:99;
	opacity:0;
    transition:all .5s;
    .toast-box{
        display:inline-block;
        padding:16px 20px;
        text-align:center;
        border-radius:6px;
        color: #fff;
        font-size:30px;
        box-sizing:border-box;
        background: rgba(0,0,0,0.7);
	}
	.confirm-box{
		display:inline-block;
		min-width:60%;
		max-width:90%;
		background:#fff;
		border-radius:10px;
		background:#fff;
		box-shadow:0 0 10px #ccc;
		box-sizing:border-box;
		.confirm-text{
			padding:50px 20px;
			font-size:28px;
		}
		.confirm-btns{
			display:flex;
			border-top:1px solid @col-bor;/* no */
			line-height:70px;
			a{
				flex:1;
			}
		}
		.btn-cancle{
			border-right:1px solid @col-bor;/* no */
		}
	}
}
.lt-toast-show{
	display:block;
	animation:toast-show 3s;
	animation-fill-mode:forwards;
    opacity:1;
}
.lt-layer-show{
	display:block;
	animation:layer-show .6s;
    opacity:1;
}
@keyframes layer-show{
	0%{
		opacity:0;
		transform:translateY(80px); 
	}
	100%{
		opacity:1;
		transform:translateY(0);
	}
}
@keyframes toast-show{
	0%{
		opacity:0;
		transform:translateY(80px); 
	}
	20%,80%{
		opacity:1;
		transform:translateY(0);
	}
	100%{
		opacity:0;
		transform:translateY(80px); 
	}
}
.lt-content{
	padding:0 24px;
}
.lt-desc-content{
	padding:30px 24px;
	line-height:1.8;
	font-size:28px;
	background:#fff;
	p{
		text-indent:2em;
		margin-bottom:10px;
	}
	img{
		display:block;
		margin:30px auto;
	}
}
.lt-footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background:#fff;
	border-top:1px solid #d1d7d8;/* no */
	z-index:10;
	color:#666;
	ul{
		display:flex;
		padding:12px 0 6px;
		li{
			flex:1;
			text-align:center;
			i{
				height:48px !important;
			}
		}
		a{
			display:inline-block;
			color:#9b9b9b;
			p{
				font-size:24px;
			}
		}
	}
	.cur{
		color:#000;
		.icon-nav-index{
			.icon-nav-index-hover();
		}
		.icon-nav-guide{
			.icon-nav-guide-hover();
		}
		.icon-nav-server{
			.icon-nav-server-hover();
		}
		.icon-nav-book{
			.icon-nav-book-hover();
		}
		.icon-nav-user{
			.icon-nav-user-hover();
		}
	}
}
.lt-has-nav{
	padding-bottom:110px;
}
@keyframes loading-rotate{100%{transform: rotate(1turn)}};
@keyframes loading-dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40px}to{stroke-dasharray:90,150;stroke-dashoffset:-120px}}
@-webkit-keyframes loading-dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:90,150;stroke-dashoffset:-40px}to{stroke-dasharray:90,150;stroke-dashoffset:-120px}}
.lt-loading{
	position: relative;
	display:none;
	padding:10px 0;
	text-align:center;
	color: #b2b2b2;
	.loading-box{
		width: 60px;
		height: 60px;
		animation: loading-rotate 2s linear infinite;
		.path{
			animation: loading-dash 1.5s ease-in-out infinite;
			stroke-dasharray: 90,150;
			stroke-dashoffset: 0;
			stroke-width: 2;
			stroke: @col-main;
			stroke-linecap: round;
		}
	}
	.none-text{
		position: absolute;
		left:0;
		top:0;
		width:100%;
		line-height:80px;
		display:none;
		z-index:2;
		text-align:center;
		background: #f3f3f3;
	}
}
.lt-nodata-box{
	padding:200px 0 150px;
	text-align:center;
	img{
		width:147px;
	}
	p{
		margin-top:30px;
		color:#b2b2b2 !important;
		font-size:28px !important;
	}
}
.lt-box{
	margin-top:30px;
	background:#fff;
}
/* ui */
.ui-btn{
	border-radius:4px;
	text-align:center;
	color:#fff;
}
.ui-down-arrow{
	&:before{
		content:'';
		position: absolute;
		width:10px;
		height:10px;
		border:1px solid @col-main;
		border-top:none;
		border-right:none;
		transform-origin:50% 50%;
		transform:rotate(-45deg);
	}
}
.ui-mask{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	z-index:99;
}
.btn-disabled{
	background:#b7e9e7 !important;
	&:hover{
		background:#b7e9e7 !important;
	}
}

/* other */
.mt12{
	margin-top:12px;
	padding:0 24px;
	background:#fff;
}
//banner
.swiper-container {
    position: relative;
	overflow: hidden;
    z-index: 1;
    .swiper-slide{
	    flex-shrink: 0;
		position:relative;
		height:100%;
	}
	.swiper-wrapper{
		position: relative;
	    width: 100%;
	    display: flex;
	    transition-property: transform;
	    box-sizing: content-box;
	}
	.swiper-slide{
		width:100%;
		img{
			width:100%;
		}
		a{
			display:block;
		}
	}
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b2b2b2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b2b2b2;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #b2b2b2;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b2b2b2;
}
.fn-switch{
	visibility: hidden;
}
.fn-switch .lt-share-box{
	transform: translateY(128px);
}
.lt-share-box{
	display:flex;
	position:fixed;
	padding:30px 40px;
	left:0;
	bottom:0;
	width:100%;
	background:#fff;
	border-radius:10px 10px 0 0;
	box-sizing: border-box;
	transform: translateY(0);
	transition:all .3s;
	.share-item{
		margin-right:40px;
	}
}