
[class^="icon-"],
[class*="icon-"]{
    display: inline-block;
    .iconSprite();
}
.iconSprite{
    background-image: url(../img/sprite.png);
}

.icon-account{
    background-position: -310px 0px;
    width: 20px;
    height: 21px;
}
.icon-account(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 20px;
        height: 21px;
    }
    .hover(@isHover);   
    background-position: -310px 0px;
}
.icon-add{
    background-position: -310px -70px;
    width: 18px;
    height: 18px;
}
.icon-add(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 18px;
        height: 18px;
    }
    .hover(@isHover);   
    background-position: -310px -70px;
}
.icon-add2{
    background-position: -310px -103px;
    width: 18px;
    height: 18px;
}
.icon-add2(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 18px;
        height: 18px;
    }
    .hover(@isHover);   
    background-position: -310px -103px;
}
.icon-arrow-down{
    background-position: -310px -268px;
    width: 10px;
    height: 6px;
}
.icon-arrow-down(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 10px;
        height: 6px;
    }
    .hover(@isHover);   
    background-position: -310px -268px;
}
.icon-arrow-up{
    background-position: -85px -221px;
    width: 10px;
    height: 6px;
}
.icon-arrow-up(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 10px;
        height: 6px;
    }
    .hover(@isHover);   
    background-position: -85px -221px;
}
.icon-date{
    background-position: -120px -290px;
    width: 13px;
    height: 13px;
}
.icon-date(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 13px;
        height: 13px;
    }
    .hover(@isHover);   
    background-position: -120px -290px;
}
.icon-dialog-error{
    background-position: 0px -88px;
    width: 32px;
    height: 32px;
}
.icon-dialog-error(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: 0px -88px;
}
.icon-dialog-success{
    background-position: -47px -88px;
    width: 32px;
    height: 32px;
}
.icon-dialog-success(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: -47px -88px;
}
.icon-down-hover{
    background-position: -232px -255px;
    width: 15px;
    height: 14px;
}
.icon-down-hover(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 15px;
        height: 14px;
    }
    .hover(@isHover);   
    background-position: -232px -255px;
}
.icon-down{
    background-position: -262px -255px;
    width: 15px;
    height: 14px;
}
.icon-down(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 15px;
        height: 14px;
    }
    .hover(@isHover);   
    background-position: -262px -255px;
}
.icon-download{
    background-position: -201px -290px;
    width: 10px;
    height: 12px;
}
.icon-download(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 10px;
        height: 12px;
    }
    .hover(@isHover);   
    background-position: -201px -290px;
}
.icon-ent-1{
    background-position: -140px 0px;
    width: 32px;
    height: 32px;
}
.icon-ent-1(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: -140px 0px;
}
.icon-ent-2{
    background-position: -140px -47px;
    width: 32px;
    height: 32px;
}
.icon-ent-2(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: -140px -47px;
}
.icon-ent-3{
    background-position: 0px -135px;
    width: 32px;
    height: 32px;
}
.icon-ent-3(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: 0px -135px;
}
.icon-ent-4{
    background-position: -47px -135px;
    width: 32px;
    height: 32px;
}
.icon-ent-4(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: -47px -135px;
}
.icon-ent-5{
    background-position: -94px -135px;
    width: 32px;
    height: 32px;
}
.icon-ent-5(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: -94px -135px;
}
.icon-ent-6{
    background-position: -187px 0px;
    width: 32px;
    height: 32px;
}
.icon-ent-6(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: -187px 0px;
}
.icon-ent-7{
    background-position: -187px -47px;
    width: 32px;
    height: 32px;
}
.icon-ent-7(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 32px;
        height: 32px;
    }
    .hover(@isHover);   
    background-position: -187px -47px;
}
.icon-error{
    background-position: -148px -290px;
    width: 12px;
    height: 12px;
}
.icon-error(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 12px;
        height: 12px;
    }
    .hover(@isHover);   
    background-position: -148px -290px;
}
.icon-exit{
    background-position: -172px -255px;
    width: 14px;
    height: 16px;
}
.icon-exit(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 14px;
        height: 16px;
    }
    .hover(@isHover);   
    background-position: -172px -255px;
}
.icon-forward{
    background-position: -175px -290px;
    width: 11px;
    height: 12px;
}
.icon-forward(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 11px;
        height: 12px;
    }
    .hover(@isHover);   
    background-position: -175px -290px;
}
.icon-headpic{
    background-position: -234px -190px;
    width: 16px;
    height: 16px;
}
.icon-headpic(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 16px;
        height: 16px;
    }
    .hover(@isHover);   
    background-position: -234px -190px;
}
.icon-index-line{
    background-position: -39px -221px;
    width: 31px;
    height: 11px;
}
.icon-index-line(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 31px;
        height: 11px;
    }
    .hover(@isHover);   
    background-position: -39px -221px;
}
.icon-login-account{
    background-position: -310px -36px;
    width: 18px;
    height: 19px;
}
.icon-login-account(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 18px;
        height: 19px;
    }
    .hover(@isHover);   
    background-position: -310px -36px;
}
.icon-login-code{
    background-position: -141px -255px;
    width: 16px;
    height: 19px;
}
.icon-login-code(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 16px;
        height: 19px;
    }
    .hover(@isHover);   
    background-position: -141px -255px;
}
.icon-login-password{
    background-position: 0px -290px;
    width: 16px;
    height: 20px;
}
.icon-login-password(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 16px;
        height: 20px;
    }
    .hover(@isHover);   
    background-position: 0px -290px;
}
.icon-logout{
    background-position: -201px -255px;
    width: 16px;
    height: 14px;
}
.icon-logout(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 16px;
        height: 14px;
    }
    .hover(@isHover);   
    background-position: -201px -255px;
}
.icon-look{
    background-position: -92px 0px;
    width: 33px;
    height: 33px;
}
.icon-look(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 33px;
        height: 33px;
    }
    .hover(@isHover);   
    background-position: -92px 0px;
}
.icon-nav-b0{
    background-position: -187px -94px;
    width: 24px;
    height: 24px;
}
.icon-nav-b0(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -187px -94px;
}
.icon-nav-b00{
    background-position: -187px -133px;
    width: 24px;
    height: 24px;
}
.icon-nav-b00(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -187px -133px;
}
.icon-nav-b1{
    background-position: -273px 0px;
    width: 22px;
    height: 20px;
}
.icon-nav-b1(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 22px;
        height: 20px;
    }
    .hover(@isHover);   
    background-position: -273px 0px;
}
.icon-nav-b10{
    background-position: -140px -94px;
    width: 24px;
    height: 24px;
}
.icon-nav-b10(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -140px -94px;
}
.icon-nav-b1010{
    background-position: -92px -48px;
    width: 24px;
    height: 24px;
}
.icon-nav-b1010(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -92px -48px;
}
.icon-nav-b11{
    background-position: -273px -35px;
    width: 22px;
    height: 20px;
}
.icon-nav-b11(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 22px;
        height: 20px;
    }
    .hover(@isHover);   
    background-position: -273px -35px;
}
.icon-nav-b12{
    background-position: -94px -88px;
    width: 24px;
    height: 24px;
}
.icon-nav-b12(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -94px -88px;
}
.icon-nav-b1212{
    background-position: -141px -135px;
    width: 24px;
    height: 24px;
}
.icon-nav-b1212(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -141px -135px;
}
.icon-nav-b13{
    background-position: 0px -182px;
    width: 24px;
    height: 24px;
}
.icon-nav-b13(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: 0px -182px;
}
.icon-nav-b1313{
    background-position: -39px -182px;
    width: 24px;
    height: 24px;
}
.icon-nav-b1313(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -39px -182px;
}
.icon-nav-b14{
    background-position: -78px -182px;
    width: 24px;
    height: 24px;
}
.icon-nav-b14(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -78px -182px;
}
.icon-nav-b1414{
    background-position: -117px -182px;
    width: 24px;
    height: 24px;
}
.icon-nav-b1414(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -117px -182px;
}
.icon-nav-b15{
    background-position: -156px -182px;
    width: 24px;
    height: 24px;
}
.icon-nav-b15(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -156px -182px;
}
.icon-nav-b1515{
    background-position: -195px -182px;
    width: 24px;
    height: 24px;
}
.icon-nav-b1515(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -195px -182px;
}
.icon-nav-b2{
    background-position: -234px 0px;
    width: 24px;
    height: 24px;
}
.icon-nav-b2(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -234px 0px;
}
.icon-nav-b22{
    background-position: -234px -39px;
    width: 24px;
    height: 24px;
}
.icon-nav-b22(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -234px -39px;
}
.icon-nav-b3{
    background-position: -234px -156px;
    width: 24px;
    height: 19px;
}
.icon-nav-b3(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 19px;
    }
    .hover(@isHover);   
    background-position: -234px -156px;
}
.icon-nav-b33{
    background-position: 0px -221px;
    width: 24px;
    height: 19px;
}
.icon-nav-b33(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 19px;
    }
    .hover(@isHover);   
    background-position: 0px -221px;
}
.icon-nav-b4{
    background-position: -273px -70px;
    width: 20px;
    height: 22px;
}
.icon-nav-b4(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 20px;
        height: 22px;
    }
    .hover(@isHover);   
    background-position: -273px -70px;
}
.icon-nav-b44{
    background-position: -273px -107px;
    width: 20px;
    height: 22px;
}
.icon-nav-b44(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 20px;
        height: 22px;
    }
    .hover(@isHover);   
    background-position: -273px -107px;
}
.icon-nav-b5{
    background-position: -273px -144px;
    width: 20px;
    height: 22px;
}
.icon-nav-b5(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 20px;
        height: 22px;
    }
    .hover(@isHover);   
    background-position: -273px -144px;
}
.icon-nav-b55{
    background-position: -273px -181px;
    width: 20px;
    height: 22px;
}
.icon-nav-b55(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 20px;
        height: 22px;
    }
    .hover(@isHover);   
    background-position: -273px -181px;
}
.icon-nav-b6{
    background-position: -310px -136px;
    width: 18px;
    height: 18px;
}
.icon-nav-b6(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 18px;
        height: 18px;
    }
    .hover(@isHover);   
    background-position: -310px -136px;
}
.icon-nav-b66{
    background-position: -310px -169px;
    width: 18px;
    height: 18px;
}
.icon-nav-b66(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 18px;
        height: 18px;
    }
    .hover(@isHover);   
    background-position: -310px -169px;
}
.icon-nav-b7{
    background-position: -273px -218px;
    width: 22px;
    height: 20px;
}
.icon-nav-b7(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 22px;
        height: 20px;
    }
    .hover(@isHover);   
    background-position: -273px -218px;
}
.icon-nav-b77{
    background-position: 0px -255px;
    width: 22px;
    height: 20px;
}
.icon-nav-b77(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 22px;
        height: 20px;
    }
    .hover(@isHover);   
    background-position: 0px -255px;
}
.icon-nav-b8{
    background-position: -310px -202px;
    width: 18px;
    height: 18px;
}
.icon-nav-b8(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 18px;
        height: 18px;
    }
    .hover(@isHover);   
    background-position: -310px -202px;
}
.icon-nav-b88{
    background-position: -310px -235px;
    width: 18px;
    height: 18px;
}
.icon-nav-b88(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 18px;
        height: 18px;
    }
    .hover(@isHover);   
    background-position: -310px -235px;
}
.icon-nav-b9{
    background-position: -234px -78px;
    width: 24px;
    height: 24px;
}
.icon-nav-b9(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -234px -78px;
}
.icon-nav-b99{
    background-position: -234px -117px;
    width: 24px;
    height: 24px;
}
.icon-nav-b99(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 24px;
        height: 24px;
    }
    .hover(@isHover);   
    background-position: -234px -117px;
}
.icon-nav-hide{
    background-position: -62px -290px;
    width: 14px;
    height: 14px;
}
.icon-nav-hide(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 14px;
        height: 14px;
    }
    .hover(@isHover);   
    background-position: -62px -290px;
}
.icon-nav-show{
    background-position: -91px -290px;
    width: 14px;
    height: 14px;
}
.icon-nav-show(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 14px;
        height: 14px;
    }
    .hover(@isHover);   
    background-position: -91px -290px;
}
.icon-password{
    background-position: -31px -290px;
    width: 16px;
    height: 20px;
}
.icon-password(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 16px;
        height: 20px;
    }
    .hover(@isHover);   
    background-position: -31px -290px;
}
.icon-pdf{
    background-position: 0px 0px;
    width: 77px;
    height: 73px;
}
.icon-pdf(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 77px;
        height: 73px;
    }
    .hover(@isHover);   
    background-position: 0px 0px;
}
.icon-star{
    background-position: -37px -255px;
    width: 21px;
    height: 20px;
}
.icon-star(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 21px;
        height: 20px;
    }
    .hover(@isHover);   
    background-position: -37px -255px;
}
.icon-star_full{
    background-position: -73px -255px;
    width: 21px;
    height: 20px;
}
.icon-star_full(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 21px;
        height: 20px;
    }
    .hover(@isHover);   
    background-position: -73px -255px;
}
.icon-validate{
    background-position: -109px -255px;
    width: 17px;
    height: 19px;
}
.icon-validate(@isHover: false){
    .hover (@a) when (@a = false) {
        .iconSprite();
        width: 17px;
        height: 19px;
    }
    .hover(@isHover);   
    background-position: -109px -255px;
}
